@using MUMS.Web.Extensions
<!doctype html />
<html>
    <head>
        <meta charset="utf-8" />
        <title>(mums)</title>
        @Html.CompiledStylesheet()
        @Html.Stylesheet(Links.Content.awesome_css)
        @Html.Stylesheet(Links.Content.default_css)

        <link rel="apple-touch-icon" href="@Links.Content.images.mums_iphone_57_png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="@Links.Content.images.mums_iphone_72_png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="@Links.Content.images.mums_iphone_114_png"/>
        @Html.ScriptCDN("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        @Html.Script(Links.Scripts.lib.jquery_tmpl_min_js)
        @Html.Script(Links.Scripts.lib.knockout_2_0_0_js)
        @Html.Script(Links.Scripts.lib.knockout_mapping_js)
        
        @Html.Script(Links.Scripts.Mums._00_Format_js)
        @Html.Script(Links.Scripts.Mums._00_UTorrent_js)
        @Html.Script(Links.Scripts.Mums._01_Knockout_js)
        @Html.Script(Links.Scripts.Mums.Root_js)
        @Html.Script(Links.Scripts.Mums.index_js)
        @Html.CompiledScript()

        @RenderSection("HeadSection", required: false)
    </head>
    <body>
        <div id="header-wrapper">
            <header>
                <section id="add-torrent">
                    @using (Html.BeginForm(MVC.Root.AddTorrent(), FormMethod.Post, new { enctype = "multipart/form-data" })) 
                    {
                        <article>
                            <label for="url">Hämta .torrent från address:</label>
                            <input type="url" id="url" name="url" />
                        </article>
                        <article>
                            <label for="file">...eller ladda upp .torrent-fil(er):</label>
                            <input type="file" id="file" name="file" accept="application/x-bittorrent" multiple="true" />
                        </article>
                        <div id="add-torrent-submit">
                            <article>
                                <select name="label">
                                    <option value="Filmer">Filmer</option>    
                                    <option value="Serier">Serier</option>
                                    <option value="Annat">Annat</option>
                                </select>
                            </article>
                            <article>
                                <input type="submit" value="Lägg till &raquo;" class="large black awesome" />
                            </article>
                        </div>
                    }
                </section>
                <nav>
                    <div id="logo"></div>
                </nav>
            </header>
        </div>

        <div id="wrapper">
            @RenderBody()
        </div>
    </body>
</html>